<!DOCTYPE html>
<html>
    
    <head>
        <title>NFL Fantasy Tool - {{ title }}</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='gozilla.css') }}"
        <
    </head>
    
        <nav>
            <a href="/" class="brand"><span>NFL Fantasy Tool!</span></a>
                  <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">Menu</label>
                <input id="bmenub" type="checkbox"
                class="show">
                <label for="bmenub" class="burger pseudo button">Menu</label>
                <div class="menu">
                    <a action="/" href='/' method="post" class="button danger">Compare two players!</a>
                  </div>
        </nav>
            <article class="flex two" style="padding: 5em 4em;">
            {% block content %}
            </div>
            <div>
                <h2>Which position are you comparing?</h2>
                <h3>Submit Below!</h3>
                <form action="/compare_pick" method="post">
                <select name="selected_position">
                    {% for position in positions %}
                    <option value="{{ position }}">{{ position }}</option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="Select" class="button success">
            </div>
            <div>
                
                <h2>Who's a better fantasy pick?</h2>
                <h3>Enter Two Players</h3>
                <div>
                <form action="/compare_pick" method="post">
                    <label class="stack">
                    <input type="text" name="player1" placeholder="User to add">
                    <label class="stack">
                    <input type="text" name="player2" placeholder="User to add">
                    <input type="submit" value="Compare!!!!!! :)" class="button primary">
                </label>
                </div>
            </form>
            {% endblock %}
        </article>
    </body>
</html>